<!-- Sidebar -->
<section id="sidebar" class="col sidebar">
  <h2><a href="index.html">Giraffe</a></h2>
  <h2><a href="api.html">API</a></h2>
  <h2>Examples</h2>
  <ul>
    <li><a href="viewBasics.html">View Basics</a></li>
    <li><a href="lifecycleManagement.html">Lifecycle Management</a></li>
    <li><a href="appEvents.html">App Events</a></li>
    <li><a href="routersAndAppEvents.html">Routers and App Events</a></li>
    <li><a href="appInitialization.html">App Initilization</a></li>
    <li><a href="documentEvents.html">Document Events</a></li>
    <li><a href="dataEvents.html">Data Events</a></li>
    <li><a href="viewUI.html">View UI</a></li>
    <li><a href="menuExample.html">Menu Example</a></li>
    <li><a href="viewFlexibility.html">View Flexibility</a></li>
  </ul>
</section>

<!-- Main Body -->
<article id="content" class="col content">
  {{{document}}}
</article>
